body{
    background-color: black;
    font-family: sans-serif;
    
   
}
*{
    margin: 0;
    padding: 0;
}
#main_container{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(bgimage-netflix.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;

    
}
.para1{
    position: absolute;
    top: 200px;
    left: 200px;
}
.para2{
    position: absolute;
    top: 26 0px;
    font-weight: 400;
    left: 100px;
    
}
.email{
    width: 300px;
    height: 31px;
    border-radius: 5px;
    background: transparent; 
}

 

header{
    width: 100%;
}
.net_pic{
    width: 190px;
    margin-left: 120px;
    position: absolute;
    top: 5px;
    background-attachment: fixed;
    color: red;
}
#header-right{
    position: absolute;
    left: 75%;
    top: 30px;
}
#center{
    color: white;
    position: absolute;
    top: 20%;
    left: 28%;
    font-family: sans-serif;
    font-weight: 900;
}
h1{
    font-size: 70px;
}
#get{
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: red;
    width: 180px;
    height: 52px;   
    font-size: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}
#get{
    position: absolute;
    top: 300px;
    left: 450px;
}
.email{
    position: absolute;
    top: 300px;
    left: 80px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: relative;
        

}
#child1{
    color: white;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 18px;
    margin-left: 100px;
    border-radius: 5px;
}
#child{

    color: white;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 18px;
    margin-left: 18px;
    border-radius: 5px;

}
#down_box{
    padding: 2rem;
    justify-content: center;
    height: 80rem ;
}
#cards{
    width: fit-content;
    margin-left: 100px;
    
}
.card1{
    display: inline-flex;
    padding: 1rem;
    border-radius: 2rem;
  
    
}   
div h2{
    margin-left: 5px;
}
div .h2::first-letter{
    font-size: 40px;
}
.card2{
    display: inline-flex;
    padding: 1rem;
    border-radius: 2rem;

}   
.more{
    justify-content: center;
    width: fit-content;
    padding: 120px;
    padding-top: 100px;
    margin-bottom: 30px;

}
.box1{
    width: 250px;
    height: 320px;
    padding-top: 10px;
    background: linear-gradient( rgb(10, 5, 56) , rgb(40, 3, 70) );
    display: inline-flex;
    justify-content: space-around;
    padding-right: 10px;
    border-radius: 10px;
    position: absolute;
    left: 160px;

}
.another_h2{
    font-size: 25px;
}
.another_h2::first-letter{
    font-size: 25px;
    
}
#Frequently{  
    width: 100%;
    margin-top: 10px;
    margin-left: 100px;

}
#not{
    position: relative;
    bottom: 85rem;
}
#Question{
    background-color: rgb(49, 49, 49);
    position: absolute;
    color: white;
    top: 103rem;
    width: 67rem;
    padding: 15px;
    height: 20px;

}
.an_h2{
    color: white;
    font-family: sans-serif;
    position: absolute;
    top: 100rem;
    
}

.an_para{
    position: absolute;
    color: rgb(202, 197, 197);
    top: 50px;
    margin-left: 16px;
    padding: 7px;
    font-family: sans-serif;
}
.box2{
    width: 250px;
    height: 320px;
    padding-top: 10px;
    background: linear-gradient( rgb(10, 5, 56) , rgb(40, 3, 70) );
    display: inline-flex;
    justify-content: space-around;
    border-radius: 10px;
    position: absolute;
    left: 440px;

}.box3{
    width: 250px;
    padding-top: 10px;
    height: 320px;
    background: linear-gradient( rgb(10, 5, 56) , rgb(40, 3, 70) );
    display: inline-flex;
    justify-content: space-around; 
     border-radius: 10px;
     position: absolute;
     left: 710px;

}.box4{
    width: 250px;
    height: 320px;
    padding-top: 10px;
    background: linear-gradient( rgb(10, 5, 56) , rgb(40, 3, 70) );
    display: inline-flex;
    justify-content: space-around;
    border-radius: 10px;
    position: absolute;
    left: 980px;
    margin-bottom: 30px;

}
.para3{
    position: absolute;
    color: white;
    top: 133rem;
    left: 380px;
    font-size: 13px;
}
#email_down{
    position: absolute;
    top: 117.5rem;
    left: 250px ;
}
.contact{

   position: absolute;
   top:2300px;
   left: 190px;
   font-size: 13px;
   color: rgb(126, 119, 119);

}
#upper{
    width: 99%;
    height: 40px;

}


#final{
    position: absolute;
    top: 150rem;
    left: 110px;
    display: inline;
    font-size: 10px;
}
#email2{
    position: absolute;
bottom: 150px;
left: 50px;
font-size: 15px;
}

footer{
    position: absolute;
    bottom: 41rem;
}


footer div span{
    text-decoration: underline;
    display: inline-flex;
    

}
#foot2{
    position: absolute;
    top: 30px;
     right: 575px;
}
#foot3{
    position: absolute;
    bottom: 30px;

}
#foot4{
    position: absolute;
    bottom: 50px;
}